@model MyAddressBook.Contact

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Contact</h2>
@* Here we can use the same view which was for Add Contact ,
    just need 2 changes
    1. Need to store Contact ID in a hidden field
    2. Have to show image if it exist  *@

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ContactID) // This is First Changes

    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonFname, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ContactPersonFname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactPersonFname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonLname, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ContactPersonLname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactPersonLname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactNo1, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ContactNo1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactNo1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactNo2, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ContactNo2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactNo2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CountryID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.CountryID, @ViewBag.Country as SelectList, "Select Country", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StateID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.StateID, @ViewBag.State as SelectList, "Select State", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Address, 3, 5, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Select File : </label>
                <div class="col-md-9">
                    @Html.TextBox("file", null, new { type = "file", @class = "form-control", accept = "image/x-png, image/gif, image/jpeg " })
                    @Html.ValidationMessage("FileErrorMessage")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Update" class="btn btn-info" />
                </div>
            </div>

        </div>

        <div class="col-sm-6">
        @* This is  2nd changes for show image if exist *@
            <div class="col-md-10" style="display:@(string.IsNullOrEmpty(Model.ImagePath)?"none":"block")">
                <img src="/image/@Model.ImagePath" alt="image" style="width:100%; max-width:300px" />
            </div>
        </div>
    </div>       
}

    <div>
        @Html.ActionLink("Back to List", "Index")|
        @Html.ActionLink("Delete", "Delete", new { id = Model.ContactID }) 
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //to fetch states for selected country
        $(document).ready(function () {
            $('#CountryID').change(function () {
                var countryID = parseInt($(this).val());
                if (!isNaN(countryID)) {
                    var $ddState = $('#StateID');
                    $ddState.empty(); //Clear all Items
                    $ddState.append($("<option></option>").val('').html('please wait...'));
                    $.ajax({
                        url: '@Url.Action("GetStates", "Home")',
                        type: 'GET',
                        dataType: 'json',
                        data: {countryID: countryID},
                        success: function (d) {
                            $ddState.empty(); //Clear all Items
                            $ddState.append($("<option></option>").val('').html('Select State'));
                            console.log(d);
                            $.each(d, function (i, item) {
                                $ddState.append($("<option></option>").val(item.StateID).html(item.StateName));
                            });
                         },
                        error: function () {
                            alert('Errork!');
                        }
                    })
                }
            });
        });
    </script>
}

